/* App.css */
.App {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.nav-link {
    display: inline-block;
    margin-right: 20px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    transition: transform 0.2s, color 0.2s;
}

.nav-link:hover {
    color: #666;
    transform: scale(1.1);
}

.nav-link.active {
    color: #666;
}


.about-section,
.services-section,
.search-container {
    padding: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}


.color-list {
    display: flex;
    flex-wrap: wrap;
}

.color-card {
    width: 150px;
    height: 150px;
    margin: 10px;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    text-align: center;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}